.obsidian
.claude
.venv
**/__pycache__/

Pretraining-on-unlabeled-data/4.66
Pretraining-on-unlabeled-data/gpt2/
Pretraining-on-unlabeled-data/model.pth
Pretraining-on-unlabeled-data/model_and_optimizer.pth
sms_spam_collection.zip

